*{
    font-size: 1.1rem;
}
main {
    display: flex;
    font-weight: 800;
    font-family: 'Amiri', serif;
   
}

.low-box {
    background-color:rgba(148,187,233,1) ;
    color: rgb(238,174,202);
    text-shadow: 2px 2px 5px rgb(22, 112, 214);
    border-style: solid;
    border-width: thick;

}
.five-day{
    display: flex;
    justify-content: space-around;
    
    
}
.card {
    flex-direction: row;    
}

header {
    text-align: center;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

body {
    background-color: white;
}

.search-box {
    background-color: rgb(238,174,202) ;
}

.top-box {
    border-style: solid;
    border-width: thick;
    background-color: rgba(148,187,233,1);
    color: rgb(238,174,202);
    text-shadow: 2px 2px 5px rgb(22, 112, 214);
   
    
}
h5,
h4,
h6 {
    text-shadow: 2px 2px 5px rgb(22, 112, 214);
    font-weight: bold;
}

h1 {
    text-shadow: 4px 4px 10px rgba(148,187,233,1);

}

ul {
    list-style: none;
    
}

.container.card {
    background-color: rgba(148,187,233,1);
}

.button-holder input {
    background-color: rgba(148,187,233,1);
    color: rgb(238,174,202);
    text-shadow: 2px 2px 5px rgb(22, 112, 214);
}